<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!--一个Session Factory节点代表一个数据库-->
	<session-factory>
		<!--数据库连接配置-->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql:///QianQianInvestment?useUnicode=true&amp;characterEncoding=utf-8</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">libinwei</property>
		<property name="hibernate.connection.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<!--其他配置信息-->
			<!--显示SQL语句-->
		<property name="hibernate.show_sql">true</property>
			<!--格式化SQL-->
		<property name="hibernate.format_sql">true</property>
			<!--自动建表-->
		<property name="hibernate.hbm2ddl.auto">update</property>


		<!--连接池配置-->
		<!--连接池驱动管理类-->
		<!--<property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>-->
		<!--<property name="hibernate.c3p0.max_size">40</property>-->
		<!--<property name="hibernate.c3p0.min_size">1</property>-->
		<!--<property name="hibernate.c3p0.timeout">5000</property>-->
		<!--<property name="hibernate.c3p0.max_statements">50</property>-->
		<!--<property name="hibernate.c3p0.idle_test_period">1800</property>-->
		<!--<property name="hibernate.c3p0.acquire_increment">2</property>-->
		<!--&lt;!&ndash;加载所有映射&ndash;&gt;-->

	</session-factory>
</hibernate-configuration>



